#POSTGRES_USER=academic_user
#POSTGRES_PASSWORD=academic_pass
#POSTGRES_DB=academic_db
#DATABASE_URL=postgresql://academic_user:academic_pass@postgres:5432/academic_db
OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_MODEL=qwen2.5:3b
VITE_API_URL=http://localhost:8000

# For Sqlite
PYTHONPATH=/Location/to/your/backend
DATABASE_URL=sqlite:////to/your/project/backend/academic_platform.db
FACULTY_TEACHER_PASSWORD=userYourPasswd
#Testing123
