#POSTGRES_USER=academic_user
#POSTGRES_PASSWORD=academic_pass
#POSTGRES_DB=academic_db
#DATABASE_URL=postgresql://academic_user:academic_pass@postgres:5432/academic_db
OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_MODEL=qwen2.5:3b
VITE_API_URL=http://localhost:8000

# For Sqlite
PYTHONPATH=/home/oxu0/0xProject/0xCollage/backend
DATABASE_URL=sqlite:////home/oxu0/0xProject/0xCollage/backend/academic_platform.db
FACULTY_TEACHER_PASSWORD=teacher123
#  /home/oxu0/0xProject/0xCollage/backend/.venv/bin/python -m uvicorn app.main:app --host 0.0.0.0 --port 8000
# cd /home/oxu0/0xProject/0xCollage/frontend && npm run dev -- --host 0.0.0.0 --port 5173
